* {
    font-family: Arial;
  }
  
  body {
   background-color: #c3b8ff;
  }
  
  .box {
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    width: 600px;
  }

  h1 {
    color : #812981;
    text-align: center;

  }

  .lettre_o {
    width: 180px;
    height: 180px;
  }